# **Ejercicios de pair programming Módulo 3 Sprint 2**
## **Tableau**
### **Limpieza del dataframe**

---

In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df = pd.read_csv("../datos/bakery_sales.csv", index_col = 0)

In [3]:
df.head()

         date   time  ticket_number               article  Quantity unit_price
0  2021-01-02  08:38       150040.0              BAGUETTE       1.0     0,90 €
1  2021-01-02  08:38       150040.0      PAIN AU CHOCOLAT       3.0     1,20 €
4  2021-01-02  09:14       150041.0      PAIN AU CHOCOLAT       2.0     1,20 €
5  2021-01-02  09:14       150041.0                  PAIN       1.0     1,15 €
8  2021-01-02  09:25       150042.0  TRADITIONAL BAGUETTE       5.0     1,20 €

In [4]:
def title(col):

    return col.title()

In [5]:
df["article"] = df["article"].apply(title)

In [6]:
def quitar_euro(col):

    return col.replace(" €", "").replace(",", ".")

In [7]:
df["unit_price"] = df["unit_price"].apply(quitar_euro)

In [8]:
df.head()

         date   time  ticket_number               article  Quantity unit_price
0  2021-01-02  08:38       150040.0              Baguette       1.0       0.90
1  2021-01-02  08:38       150040.0      Pain Au Chocolat       3.0       1.20
4  2021-01-02  09:14       150041.0      Pain Au Chocolat       2.0       1.20
5  2021-01-02  09:14       150041.0                  Pain       1.0       1.15
8  2021-01-02  09:25       150042.0  Traditional Baguette       5.0       1.20

In [9]:
nuevas_columnas = {'date' : "Fecha", 'time': "Hora", 'ticket_number' : "Número de ticket", 'article' : "Artículo", 'Quantity': "Cantidad", 'unit_price': "Precio por unidad"}

In [12]:
df.rename(columns = nuevas_columnas, inplace = True)

In [15]:
df["Cantidad"] = df["Cantidad"].astype("Int64")

In [19]:
df["Precio por unidad"] = df["Precio por unidad"].astype("Float64")

In [20]:
df["Ingresos"] = df["Cantidad"]*df["Precio por unidad"]

In [39]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format= '%Y-%m-%d')
df.sample(10)

,Fecha,Hora,Número de ticket,Artículo,Cantidad,Precio por unidad,Ingresos
139753,2021-07-14,08:48,187878.0,Traditional Baguette,1,1.2,1.2
357224,2022-04-30,12:45,246943.0,Formule Sandwich,2,7.0,14.0
238652,2021-10-14,16:11,214512.0,Banette,1,1.05,1.05
32410,2021-03-02,09:41,158855.0,Pain Au Chocolat,2,1.2,2.4
491345,2022-09-02,12:15,283392.0,Cookie,1,1.15,1.15
133,2021-01-02,10:40,150073.0,Traditional Baguette,1,1.2,1.2
129057,2021-07-04,10:49,185032.0,Baguette,2,0.9,1.8
250572,2021-10-31,09:14,217756.0,Croissant,3,1.1,3.3
336404,2022-04-03,08:47,241180.0,Pain Au Chocolat,2,1.25,2.5
15889,2021-02-04,13:22,154424.0,Traditional Baguette,4,1.2,4.8

In [42]:
df["Número de ticket"] = df["Número de ticket"].astype("Int64")

In [43]:
df.dtypes

Fecha                datetime64[ns]
Hora                         object
Número de ticket              Int64
Artículo                     object
Cantidad                      Int64
Precio por unidad           Float64
Ingresos                    Float64
dtype: object

In [44]:
df["Día de la semana"] = df["Fecha"].dt.day_name()

In [47]:
diccionario_semana = {"Monday" : "Lunes", "Tuesday": "Martes", "Wednesday":"Miércoles", "Thursday": "Jueves", "Friday": "Viernes", "Saturday": "Sábado", "Sunday":"Domingo"}

df["Día de la semana"] = df["Día de la semana"].replace(diccionario_semana)

In [56]:
def estaciones(dato):

    primavera = np.union1d(pd.date_range(start= '2021-03-21', end='2021-06-21'), pd.date_range(start= '2022-03-21', end='2022-06-21'))
    verano = np.union1d(pd.date_range(start= '2021-06-22', end='2021-09-22'), pd.date_range(start= '2022-06-22', end='2022-09-22'))
    otoño = np.union1d(pd.date_range(start= '2021-09-23', end='2021-12-21'), pd.date_range(start= '2022-09-23', end='2022-12-21'))
    invierno = np.union1d(pd.date_range(start= '2021-12-22', end='2021-03-20'), pd.date_range(start= '2022-12-22', end='2022-03-20'))

    if dato in primavera:
        return 'Primavera'
    elif dato in verano:
        return 'Verano'
    elif dato in otoño:
        return 'Otoño'
    else:
        return 'Invierno'

In [57]:
df['Estación'] = df['Fecha'].apply(estaciones)
df.sample(10)

,Fecha,Hora,Número de ticket,Artículo,Cantidad,Precio por unidad,Ingresos,Día de la semana,Estación
234148,2021-10-07,16:58,213273,Tartelette,1,2.0,2.0,Jueves,Otoño
383259,2022-05-31,12:07,254028,Traditional Baguette,1,1.25,1.25,Martes,Primavera
237341,2021-10-12,08:22,214135,Croissant,1,1.1,1.1,Martes,Otoño
233627,2021-10-07,07:47,213136,Pain Au Chocolat,1,1.2,1.2,Jueves,Otoño
486058,2022-08-27,09:11,281934,Demi Baguette,1,0.5,0.5,Sábado,Verano
183139,2021-08-14,10:01,199438,Croissant,2,1.1,2.2,Sábado,Verano
105575,2021-06-06,08:29,178624,Kouign Amann,2,2.1,4.2,Domingo,Primavera
269401,2021-12-02,12:23,222892,Coupe,1,0.15,0.15,Jueves,Otoño
91108,2021-05-16,09:05,174750,Pain Au Chocolat,5,1.2,6.0,Domingo,Primavera
200563,2021-08-26,10:16,204071,Pt Nantais,2,3.0,6.0,Jueves,Verano

In [60]:
def franja(col):

    if int(col[:2]) < 12:
        return "Mañana"
    elif int(col[:2]) < 17:
        return "Mediodía"
    else:
        return "Tarde"

In [61]:
df["Franja horaria"] = df["Hora"].apply(franja)

In [124]:
bebida = [
    'Cafe Ou Eau',
    'Boisson 33Cl',
    'Chocolat',
    'The',
    'Boisson 33Cl',
    'Jus D\'Orange',
    'Jus De Pomme',
    'Jus De Fruits',
    'Boisson Gazeuse',
    'Coca-Cola',
    'Coca-Cola Zero',
    'Fanta',
    'Sprite',
    'Ice Tea',
    'Perrier',
    'Evian',
    'San Pellegrino',
    'Red Bull',
    'Eau Minerale',
    'Limonade',
    'Orangina',
    'Oasis',
    'Sirop',
    'Divers Boissons'
]



panes = [
    'Baguette',
    'Traditional Baguette',
    'Banette',
    'Banettine',
    'Special Bread',
    'Boule 200G',
    'Boule 400G',
    'Campagne',
    'Moisson',
    'Cereal Baguette',
    'Seigle',
    'Complet',
    'Gache',
    'Pain Banette',
    'Quim Bread',
    'Special Bread Kg',
    'Demi Baguette',
    'Pain S/Sel',
    'Vik Bread',
    'Pain Choco Amandes',
    'Pain Aux Raisins',
    'Pain De Mie',
    'Pain Graines',
    'Pain', 
    'Ficelle', 
    'Baguette Graine', 
    'Demi Pain', 
    'Baguette Apero', 
    'Buche 4Pers', 
    'Buche 6Pers', 
    'Buche 8Pers', 
    'Pain Noir'
]
bolleria_dulce = [
    'Pain Au Chocolat',
    'Croissant',
    'Kouign Amann',
    'Gal Frangipane 6P',
    'Brioche',
    'Gal Pomme 6P',
    'Gal Pomme 4P',
    'Financier X5',
    'Divers Patisserie',
    'Cookie',
    'Pain Choco Amandes',
    'Gd Far Breton',
    'Chou Chantilly',
    'Eclair',
    'Royal 4P',
    'Tarte Fruits 6P',
    'Tarte Fruits 4P',
    'Tartelette',
    'Paris Brest',
    'Savarin',
    'Flan',
    'Flan Abricot',
    'Milles Feuilles',
    'Eclair Fraise Pistache',
    'Gd Far Breton',
    'Tropezienne',
    'Tropezienne Framboise',
    'Tarte Fraise 6P',
    'Tartelette Fraise',
    'Tarte Fraise 4Per',
    'Fraisier',
    'Nid De Poule',
    'Tartelette Choc',
    'Crumble',
    'Financier',
    'Cake',
    'Viennoise',
    'Brioche De Noel',
    'Framboisier',
    'Gd Plateau Sale',
    'Pt Plateau Sale',
    'Guerandais',
    'Palet Breton',
    'Caramel Noix',
    'Macaron',
    'Armoricain',
    'Sable F  P',
    'Tulipe',
    'Tartelette Cocktail',
    'Gal Frangipane 4P', 
    'Divers Viennoiserie', 
    'Grand Far Breton', 
    'Gd Kouign Amann', 
    'Boule Polka', 
    'Chausson Aux Pommes', 
    'Divers Confiserie', 
    'Sucette', 
    'Gal Poire Choco 6P', 
    'Gal Poire Choco 4P', 
    'Galette 8 Pers', 
    'Grande Sucette', 
    'Briochette', 
    'Royal 6P', 
    'Brownies', 
    'Crumblecaramel Ou Pistae', 
    'Pt Nantais', 
    'Gd Nantais', 
    'Douceur D Hiver', 
    'Trois Chocolat', 
    'Tarte Fine', 
    'Entremets', 
    'Palmier', 
    '12 Macaron', 
    'Pain Suisse Pepito', 
    'Sachet De Viennoiserie',
    'Divers Boulangerie', 
    'Croissant Amandes', 
    'Sachet Viennoiserie',
    'Nantais', 
    'Fondant Chocolat', 
    'Noix Japonaise',
    'Triangles',
    'Royal', 
    'Paille'
]

comida_salada = [
    'Sand Jb Emmental',
    'Sandwich Complet',
    'Sand Jb',
    'Platprepare6,50',
    'Platprepare5,50',
    'Platprepare7,00',
    'Platprepare6,00',
    'Delicetropical',
    'Plat 6.50E',
    'Plat 7.60E',
    'Plat 7.00',
    'Plat 8.30E',
    'Formule Pate',
    'Plaque Tarte 25P',
    'Platprepare6,50',
    'Platprepare5,50',
    'Formule Plat Prepare',
    'Gd Plateau Sale',
    'Pt Plateau Sale',
    'Reduction Sucrees 12',
    'Reduction Sucrees 24',
    'Bottereau',
    'Plat 6.50E',
    'Plat 7.60E',
    'Plat 7.00',
    'Plat 8.30E',
    'Formule Pate',
    'Plaque Tarte 25P',
    'Platprepare6,50',
    'Platprepare5,50',
    'Formule Plat Prepare',
    'Gd Plateau Sale',
    'Pt Plateau Sale',
    'Reduction Sucrees 12',
    'Reduction Sucrees 24',
    'Bottereau',
    'Meringue',
    'Plat 6.50E',
    'Plat 7.60E',
    'Plat 7.00',
    'Plat 8.30E',
    'Formule Pate',
    'Guerandais',
    'Palet Breton',
    'Caramel Noix',
    'Plat 6.50E',
    'Plat 7.60E',
    'Plat 7.00',
    'Plat 8.30E',
    'Formule Pate',
    'Guerandais',
    'Palet Breton',
    'Caramel Noix',
    'Coupe', 
    'Pates', 
    'Formule Sandwich', 
    'Divers Sandwichs', 
    'Sachet De Crouton', 
    'Traiteur', 
    'St Honore', 
    'Religieuse', 
    'Article 295', 
    'Plat', 
    'Tarte Fine'
]

In [133]:
def categorizar(col):
    
    if col in panes:
        return "Panes"
    
    elif col in bebida:
        return "Bebida"
    
    elif col in bolleria_dulce:
        return "Bollería dulce/Repostería"
    
    elif col in comida_salada:
        return "Platos salados"
    
    else:
        return "Otros productos"

In [134]:
df["Categoría"] = df["Artículo"].apply(categorizar)

In [135]:
df.head()

,Fecha,Hora,Número de ticket,Artículo,Cantidad,Precio por unidad,Ingresos,Día de la semana,Estación,Franja horaria,Categoría
0,2021-01-02,08:38,150040,Baguette,1,0.9,0.9,Sábado,Invierno,Mañana,Panes
1,2021-01-02,08:38,150040,Pain Au Chocolat,3,1.2,3.6,Sábado,Invierno,Mañana,Bollería dulce/Repostería
4,2021-01-02,09:14,150041,Pain Au Chocolat,2,1.2,2.4,Sábado,Invierno,Mañana,Bollería dulce/Repostería
5,2021-01-02,09:14,150041,Pain,1,1.15,1.15,Sábado,Invierno,Mañana,Panes
8,2021-01-02,09:25,150042,Traditional Baguette,5,1.2,6.0,Sábado,Invierno,Mañana,Panes

In [139]:
df.isnull().sum()

Fecha                0
Hora                 0
Número de ticket     0
Artículo             0
Cantidad             0
Precio por unidad    0
Ingresos             0
Día de la semana     0
Estación             0
Franja horaria       0
Categoría            0
dtype: int64